body {
    margin: 0;
    background-color: #fbeada;
}
h1 {
    color:black 
}
button {
    border: 1px solid wheat;
    padding: 8px;
    margin-right:5px;
    background-color: black;
    color: wheat;
    transition: color 0.3s ease, text-decoration-color 0.3s ease; 
    display: flex;
    align-items:"center";
    justify-content: center;
}
button:hover {
    background-color: wheat;
    color: black;
    border-color: black;
}
td,th,tr {
    border: 2px solid #cba994;
    padding: 8px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100% ;
    border-radius: 10px;
}
h3 {
    color: #cba994;
    transition: color 0.3s ease, text-decoration-color 0.3s ease; 
    text-decoration: underline;
}
h3:hover {
    color: black;
    text-decoration: none;
}
.component {
    background-color: #f1d5b9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow: 0px 5px 10px 5px #debba5; 
    padding: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 5px 10px 5px #debba5; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 350px;
    justify-content: center;
    align-items: center;
}
input {
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    background-color: transparent;
}
input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.8; 
}
select {
    background-color: transparent;
}
.filter {
    display: flex;
    gap: 20px;
}
